<div id="map"></div>

<div class="main-results-container" ng-model="mainResult">
  <ul>
    <li>{{newObjVar.name}}</li>
    <li><img ng-src="{{newObjVar.photos[0].getUrl({'maxWidth': 500, 'maxHeight': 500})}}"/></li>
    <li>{{newObjVar.vicinity}}</li>
  </ul>
  <button ng-click="nextPlace()">Submit</button>
</div>

<div>
<button ng-click='toggleModal()'>Open Modal Dialog</button>
<modal-dialog show='modalShown' width='750px' height='60%'>
  <div style="color: black" class="modal-container">
    <h3>{{newObjVar.name}}</h3>
    <p>{{newObjVar.vicinity}}</p>
    <p>Open now: {{newObjVar.opening_hours.open_now}}</p>
    <p>{{newObjVar.opening_hours.weekday_text}}</p>
    <p>{{newObjVar.rating}}</p>
    <div id="map"></div>
    <div id="map-canvas"></div>
  </div>
</modal-dialog></div>