<div id="map"></div>

<div class="main-results-container" ng-model="mainResult" ng-repeat="key in newDataArr | limitTo: 1">
  <ul>
    <li>{{key.name}}</li>
    <li><img ng-src="{{key.photos[0].getUrl({'maxWidth': 500, 'maxHeight': 500})}}"/></li>
    <li>{{key.vicinity}}</li>
  </ul>
  <button ng-click="nextPlace()">Submit</button>
</div>
<div ng-controller="homeCtrl">
<button ng-click='toggleModal()'>Open Modal Dialog</button>
<modal-dialog show='modalShown' width='750px' height='60%'>
  <div class="modal-container">
    <p> test test </p>
  </div>
</modal-dialog></div>