<div  class="row">
    <h3>Your Registration Info:</h3>

    <strong>user:</strong>
    <input type="text" ng-model="user"/><br>
    <input type="text" ng-model="userId"/><br>

    <h3>Your Saved Restaurants Listing:</h3>

    <strong>Restaurant Name:</strong>
    <input type="text" ng-model="businessName"/><br>
    
    <strong>Business Address:</strong>
    <input type="text" ng-model="businessLocation"/><br>

    <strong>Rating:</strong>
    <input type="text" ng-model="rating"/><br>
 
    <strong>Your Comments:</strong>
    <input type="text" ng-model="comment"/><br>

    <div class="vote">
        <div class="arrow-up" ng-click="upVote()"><br>{{vote}}<br></div>
        <br>
        <div class="arrow-down" ng-click="downVote()"></div>
        </div>
    <!-- <button ng-click="clickNewInfo()">Save</button> -->
    <button ng-click="clickUpDate()">Update</button>
    <hr>
 


</div>