body {
  background-color: #494A49;
  color: white;
  text-align: center;
}

.title{
  font-size: 150px;
  margin-top: 80px;
  font-family: 'Pathway Gothic One', sans-serif;
}

.subtitle{
  font-size: 15px;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-bottom: 80px;
}

.register{
  text-decoration: underline;
}

.login{
  text-decoration: underline;
}

.restName{
  font-size: 70px;
  font-family: 'Syncopate', sans-serif;
  text-align: left;
}

.image{
  border: 10px solid white;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid #008000;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #FF0000;
}


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}





















































#map {
  height: 200px;
  width: 200px;
  border: 1px solid silver;
  border-radius: 5px;
}