body {
  background-color: #494A49;
  color: white;
  text-align: center;
}

.title{
  font-size: 100px;
  margin-top: 80px;
  font-family: 'Pathway Gothic One', sans-serif;
}

.subtitle{
  font-size: 15px;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-bottom: 80px;
}

.register{
  text-decoration: underline;
}

.login{
  text-decoration: underline;
}
