body {
  background-color: #494A49;
  color: white;
  text-align: center;
}

.title{
  font-size: 150px;
  margin-top: 80px;
  font-family: 'Pathway Gothic One', sans-serif;
}

.subtitle{
  font-size: 15px;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-bottom: 80px;
}

.register{
  text-decoration: underline;
}

.login{
  text-decoration: underline;
}




.restName{
  font-size: 70px;
  font-family: 'Syncopate', sans-serif;
  text-align: left;
}

.image{
  border: 10px solid white;
}
